@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  background-color: #f9f8f6; }
  body .row {
    margin-right: 0px;
    margin-left: 0px; }

header {
  background: #f9f8f6; }
  header #header_in {
    padding-top: 10px;
    padding-bottom: 4px; }
  @media (max-width: 550px) {
    header #header_in {
      padding-top: 0px;
      padding-bottom: 15px; } }
  header .sp_logo {
    display: flex;
    justify-content: center;
    height: 50px; }
  header .sp_navi_li_top {
    list-style: none;
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-bottom: 5px; }
    header .sp_navi_li_top li {
      display: inline-block;
      list-style: none;
      margin: 5px 0 0 0;
      padding: 0; }
      header .sp_navi_li_top li a {
        color: #626262;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        font-size: 1.4rem;
        padding-right: 10px; }
  header .sp_navi_li {
    width: 100px;
    position: absolute;
    top: 50px;
    right: 2%;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 100; }
    header .sp_navi_li li {
      list-style: none;
      margin: 0;
      padding: 0; }
      header .sp_navi_li li a {
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none; }
  @media (min-width: 551px) {
    header .sp_navi {
      display: none; }
    header .sp_logo {
      display: none; }
    header #header_in {
      padding: 15px 0 10px 0; }
    header .pc_navi_li {
      margin: 0;
      padding-top: 40px;
      padding-left: 100px; }
      header .pc_navi_li li {
        list-style: none;
        margin: 5px 0 0 0;
        padding: 0; }
        header .pc_navi_li li a {
          color: #626262;
          text-decoration: none;
          font-weight: bold;
          font-size: 14px;
          font-size: 1.4rem;
          float: right;
          padding-right: 10px; }
        header .pc_navi_li li a:hover {
          color: blue; }
      header .pc_navi_li li.navi_login a {
        padding-right: 20px; }
      header .pc_navi_li li.navi_cart a {
        padding-right: 20px; }
      header .pc_navi_li li.navi_mypage a {
        padding-right: 20px; }
      header .pc_navi_li li.navi_mypage a {
        adding-right: 20px; }
      header .pc_navi_li li.navi_guide a {
        padding-right: 20px; }
      header .pc_navi_li a
      li.navi_facebook a {
        padding-right: 10px; }
      header .pc_navi_li li.navi_insta a {
        padding-right: 10px; } }
  @media (max-width: 550px) {
    header .pc_navi {
      display: none; }
    header .pc_logo {
      display: none; } }

@media (max-width: 550px) {
  .container {
    padding-left: 10px;
    padding-right: 10px; } }

#main .bannar {
  width: 100%; }
#main .owl-dots {
  margin-top: 0;
  text-align: left; }
  #main .owl-dots .active span {
    background: red; }
  #main .owl-dots .owl-dot {
    padding: 0;
    height: 10px; }
    #main .owl-dots .owl-dot span {
      width: 30px;
      height: 3px; }
#main .lines {
  text-align: center; }
@media (max-width: 550px) {
  #main .sp-news-title {
    display: flex;
    justify-content: center; }
    #main .sp-news-title .sp-line {
      margin-bottom: 20px;
      margin-top: 20px; }
  #main .pc-line {
    display: none; } }
#main .pc-line {
  margin-bottom: 20px;
  margin-top: 20px; }
#main .item {
  padding: 15px;
  background-color: white;
  margin-left: 2px;
  margin-top: 2px;
  font-size: 11px; }
  #main .item p {
    margin-bottom: 15px; }
#main .four {
  width: 49%; }
@media (min-width: 551px) {
  #main .sp-news-title {
    display: none; }
  #main .four {
    width: 33%; } }

.guide-wrap {
  display: flex;
  clear: left; }
  .guide-wrap .guide {
    padding: 15px;
    background-color: white;
    margin-left: 4px;
    margin-top: 0px;
    width: 49%; }
    .guide-wrap .guide .guide-title {
      font-size: 20px;
      color: #887f69;
      font-weight: bold;
      margin-bottom: 15px; }
    .guide-wrap .guide .guide-subtitle {
      font-size: 14px;
      color: #887f69;
      font-weight: bold;
      margin-top: 13px;
      margin-bottom: 10px; }
    .guide-wrap .guide p {
      margin-bottom: 10px; }
  @media (max-width: 550px) {
    .guide-wrap {
      display: block; }
      .guide-wrap .guide {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0px; } }

#sidebar {
  font-size: 12px;
  margin-left: 20px; }
  @media (max-width: 550px) {
    #sidebar {
      margin-left: 0px; }
      #sidebar .form-group {
        margin-top: 5px; } }
  #sidebar .item_search .form-group {
    padding: 20px; }
    #sidebar .item_search .form-group .form-control {
      background-color: #f9f8f6;
      border: 0px;
      font-size: 11px; }
    #sidebar .item_search .form-group .form-control::placeholder {
      font-style: italic; }
    #sidebar .item_search .form-group .input-group-addon {
      background-color: #f9f8f6;
      border: 0px solid #ccc; }
  #sidebar .middle {
    width: 100%; }
    #sidebar .middle h3 {
      width: 100%;
      background-color: #887f69;
      padding-left: 20px;
      margin-bottom: 3px;
      background-repeat: no-repeat; }
      #sidebar .middle h3 a {
        height: 40px;
        display: flex;
        align-items: center; }
  #sidebar .h3pagelink {
    width: 100%;
    background-image: url("../images/top/next_icon.png");
    background-position: right 12px top 15px; }
  #sidebar .h3categories {
    width: 100%;
    background-image: url("../images/top/down_icon.png");
    background-position: right 10px top 18px; }
  #sidebar .item_search {
    margin-bottom: 10px;
    background-color: white; }
  #sidebar .pagelink {
    width: 100%;
    margin-bottom: 10px; }
  #sidebar .categories {
    margin-bottom: 0px;
    background-color: #f9f8f6; }
    #sidebar .categories ul {
      margin-bottom: 10px;
      list-style: none; }
      #sidebar .categories ul li {
        background-color: white;
        padding: 10px;
        padding-left: 20px;
        margin-bottom: 2px;
        background-image: url("../images/top/next_icon_gray.png");
        background-repeat: no-repeat;
        background-position: right 10px top 13px; }
        #sidebar .categories ul li a {
          color: black; }
  #sidebar .about {
    margin-bottom: 10px;
    background-color: white; }
    #sidebar .about .aboutcontent {
      margin-left: 10px;
      margin-top: 10px; }
    @media (max-width: 550px) {
      #sidebar .about .aboutcontent {
        display: flex; }
        #sidebar .about .aboutcontent .image {
          margin-right: 10px;
          width: 50%; }
        #sidebar .about .aboutcontent .intro {
          width: 50%; } }
    #sidebar .about .more {
      text-align: center;
      padding-bottom: 20px; }
  #sidebar .shopinfo {
    margin-bottom: 10px;
    background-color: white; }
    #sidebar .shopinfo .shopinfocontent {
      margin-left: 10px;
      margin-top: 10px; }
    @media (max-width: 550px) {
      #sidebar .shopinfo .shopinfocontent {
        display: flex; }
        #sidebar .shopinfo .shopinfocontent .image {
          margin-right: 10px;
          width: 50%; }
        #sidebar .shopinfo .shopinfocontent .intro {
          width: 50%; } }
    #sidebar .shopinfo .more {
      text-align: center;
      padding-bottom: 20px; }

footer .container {
  margin-top: 20px; }
  @media (min-width: 551px) {
    footer .container .row .pagetop {
      float: right; } }
  footer .container .row .line {
    width: 100%;
    border-bottom: 1px solid #887f69;
    margin-top: 15px;
    margin-bottom: 30px; }
  footer .container .row .footcontent {
    text-align: center; }
  footer .container .row .copy {
    text-align: center;
    font-size: 11px;
    font-size: 1.1rem;
    color: #887f69; }
  @media (max-width: 550px) {
    footer .container {
      margin-top: 0px; }
      footer .container .page {
        text-align: center; }
      footer .container .row .footcontent {
        font-size: 11px; } }

.breadcrumb {
  margin-bottom: 5px;
  padding: 0;
  background-color: #e2ddd4; }
  .breadcrumb li {
    margin-bottom: 0;
    padding: 5px; }
    .breadcrumb li a {
      color: #887f69;
      font-size: 12px; }
  .breadcrumb li:first-child {
    margin-left: 10px; }
    .breadcrumb li:first-child a {
      background-repeat: no-repeat;
      display: inline-block;
      line-height: 15px;
      padding-left: 20px;
      background-image: url("../images/list/home_icon.png");
      background-size: 13px 13px; }

@media (min-width: 551px) {
  .pc-listbannar {
    width: 100%;
    margin-bottom: 10px; }

  .sp-listbannar {
    display: none; } }
@media (max-width: 550px) {
  .pc-listbannar {
    display: none; }

  .sp-listbannar {
    width: 100%;
    margin-bottom: 10px; } }
.pageokuri {
  padding-top: 10px; }
  .pageokuri ul {
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center; }
    .pageokuri ul li {
      background-color: #887f69;
      padding: 10px;
      padding-left: 10px;
      margin-bottom: 2px;
      width: 20%;
      margin: 5px; }
      .pageokuri ul li a {
        color: white;
        font-weight: bold; }
  @media (max-width: 550px) {
    .pageokuri ul {
      margin-top: 20px; }
      .pageokuri ul li {
        width: 40%; } }

.productmain {
  padding: 20px 40px 20px 40px;
  background-color: white; }
  .productmain .goodsname ul {
    padding-bottom: 3px;
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #e2ddd4; }
    .productmain .goodsname ul li {
      background-color: white;
      padding: 10px 0 20px 0;
      margin-bottom: 3px;
      width: 20%;
      margin: 0px;
      font-size: 10px;
      text-align: right;
      color: #b0b0b0; }
      .productmain .goodsname ul li h2 {
        font-size: 13px;
        margin-bottom: 0;
        font-weight: bold; }
    .productmain .goodsname ul li:first-child {
      font-size: 13px;
      text-align: left; }
    .productmain .goodsname ul .goodsnamelifirst {
      color: black; }
  .productmain .slide {
    display: flex;
    justify-content: space-between;
    ﬂex-wrap: wrap;
    border-bottom: 0.5px solid #e2ddd4; }
    .productmain .slide .slidemain {
      width: 70%; }
      .productmain .slide .slidemain img {
        width: 430px; }
    .productmain .slide .slidesub {
      margin-left: 1%;
      width: 30%; }
      .productmain .slide .slidesub #list_img li {
        list-style: none;
        display: inline-block;
        margin-bottom: 5px; }
        .productmain .slide .slidesub #list_img li img {
          width: 82px;
          cursor: pointer; }
  .productmain .color .colortitle {
    margin-top: 20px;
    margin-bottom: 20px; }
  .productmain .color .colortable {
    table-layout: fixed;
    width: 100%;
    border: 1px solid #e2ddd4;
    border-bottom: 1px solid #e2ddd4; }
    .productmain .color .colortable tr {
      height: 30px; }
      .productmain .color .colortable tr th {
        text-align: center;
        color: #887f69;
        border: solid 1px #e2ddd4;
        background-color: #f9f8f6;
        font-size: 12px; }
      .productmain .color .colortable tr td {
        border: solid 1px #e2ddd4;
        text-align: center;
        font-size: 12px;
        color: #e2ddd4; }
        .productmain .color .colortable tr td input {
          margin-top: 5px; }
  .productmain .pricespace {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #e2ddd4; }
    .productmain .pricespace .pricequan {
      width: 60%; }
      .productmain .pricespace .pricequan .pricetitle {
        border-top: 0.5px solid #e2ddd4;
        border-bottom: 0.5px solid #e2ddd4;
        padding: 15px 0 15px 0; }
        .productmain .pricespace .pricequan .pricetitle img {
          margin-right: 80px; }
        .productmain .pricespace .pricequan .pricetitle span {
          color: red;
          font-size: 20px;
          font-style: italic; }
        .productmain .pricespace .pricequan .pricetitle span:last-child {
          color: black;
          font-size: 10px; }
      .productmain .pricespace .pricequan .quantity {
        padding: 17px 0 17px 0; }
        .productmain .pricespace .pricequan .quantity img {
          margin-right: 60px; }
        .productmain .pricespace .pricequan .quantity input {
          margin-bottom: 0;
          border-radius: 0px;
          border: 0.5px solid #e2ddd4; }
    .productmain .pricespace .pricebtn {
      text-align: right;
      margin-left: 10px;
      width: 40%; }
  .productmain .description {
    margin-top: 40px; }
    .productmain .description h2 {
      font-size: 15px;
      color: #887f69;
      font-weight: bold; }
    .productmain .description .descricontent {
      border-top: 0.5px solid #e2ddd4;
      padding-top: 20px;
      padding-bottom: 20px; }
      .productmain .description .descricontent .descritable {
        width: 100%;
        border: 1px solid #e2ddd4;
        border-bottom: 1px solid #e2ddd4; }
        .productmain .description .descricontent .descritable tr {
          height: 30px; }
          .productmain .description .descricontent .descritable tr th {
            text-align: center;
            color: #887f69;
            border: solid 1px #e2ddd4;
            background-color: #f9f8f6;
            font-size: 12px;
            padding: 10px 40px 10px 40px; }
          .productmain .description .descricontent .descritable tr td {
            border: solid 1px #e2ddd4;
            font-size: 12px;
            color: #e2ddd4; }

@media (max-width: 550px) {
  .productsrow {
    padding-left: 10px;
    padding-right: 10px; }

  .productscontain {
    padding-left: 0;
    padding-right: 0; }
    .productscontain .breadcrumb {
      margin-left: 10px;
      margin-right: 10px; }

  .productsrow {
    padding-left: 10px;
    padding-right: 10px; }

  .row .productmain {
    padding: 0 10px 0 10px; }
    .row .productmain .goodsname ul {
      margin-top: 20px;
      padding-bottom: 10px;
      display: block; }
      .row .productmain .goodsname ul li {
        width: 100%;
        text-align: left;
        padding: 0; }
    .row .productmain .slide {
      display: block; }
      .row .productmain .slide .slidemain {
        width: 100%; }
      .row .productmain .slide .slidesub {
        width: 100%; }
        .row .productmain .slide .slidesub #list_img {
          margin-bottom: 5px;
          margin-top: 5px; }
          .row .productmain .slide .slidesub #list_img li img {
            width: 54px; }
    .row .productmain .pricespace {
      border-bottom: 0px;
      display: block; }
      .row .productmain .pricespace .pricequan {
        width: 100%; }
        .row .productmain .pricespace .pricequan .pricetitle {
          padding: 20px 0 20px 0; }
          .row .productmain .pricespace .pricequan .pricetitle img {
            margin-right: 60px; }
        .row .productmain .pricespace .pricequan .quantity {
          padding: 20px 0 20px 0;
          border-bottom: 0.5px solid #e2ddd4; }
          .row .productmain .pricespace .pricequan .quantity img {
            margin-right: 40px; }
      .row .productmain .pricespace .pricebtn {
        text-align: center;
        margin-top: 10px;
        margin-left: 0;
        width: 100%; }
    .row .productmain .description {
      margin-top: 20px; }
      .row .productmain .description h2 {
        margin-bottom: 10px; }
      .row .productmain .description .descricontent .descritable tr th {
        width: 30%;
        padding: 10px 0px 10px 0px; }
      .row .productmain .description .descricontent .descritable tr td {
        padding: 10px 10px 10px 10px; } }

/*# sourceMappingURL=main.css.map */
